body > *{
    margin: 5px 5px;
    padding: 5px 5px;
}

table{
    border-collapse: collapse;
    margin: 16px 4px;
}

hr{
    padding: 0;
    margin: 0;
    border:1px solid black;
}

li{
    padding: 8px;
}

a{
    text-decoration: none;
    font-family: Arial;
    padding: 4px 8px;
    color: #1f6377;
}

a.active{
    background: #1f6377;
    color: whitesmoke;
}

a:hover{
    border-top: 2px solid #0077b3;
}

/* todo wat bij kortere tabellen? */

.w-250{
    width: 250px;
}
.w-200{
    width: 200px;
}
.w-fit{
    width: fit-content;
}

td,th{
    padding: 8px;
    border:1px solid black;
    text-align: left;
}

th.no-border{
    border: none;
}

th.align-right{
    text-align: right;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

form{
    display: inline-block;
}

li{
    display: inline-block;
    margin-right: 9px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 8px 0;
    border-bottom: 2px solid #1f6377;
}

input, select{
    margin: 5px;
}

#submitForm{
    margin-top: 14px;
}

input[type="submit"]{
    padding:4px 8px;
    border-radius: 8px;
    border:1px solid darkgreen;
    background: darkgreen;
    color:whitesmoke;
}

input[type="text"]{
    padding:4px 8px;
    border-radius: 8px;
    border:1px solid black;
}

label{
    margin: 5px;
    font-weight: bold;
}

h1{
    background: #8699a4;
    color: whitesmoke;
    letter-spacing: 4px;
    font-family: Arial;
    margin-left: 0;
    margin-right: 0;
}